<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_03_web:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_03_web_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring_03_web/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_03_web" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring" />
          <element id="file-copy" path="D:/jar包/dbcp/commons-dbcp-1.4.jar" />
          <element id="file-copy" path="D:/jar包/jdbc/mysql-connector-5.1.8.jar" />
          <element id="file-copy" path="D:/jar包/dbcp/commons-pool-1.6.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>